<div class="nav">
    <h3 class="nav-title">More</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>

    {{!--
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    --}}

    <ul>
      <li role="presentation"><a href="https://github.com/ng-milk">ngmilk on Github</a></li>
      <li role="presentation"><a href="https://twitter.com/d4m1n">@d4m1n</a></li>
      <li role="presentation"><a href="https://mindrudan.com">mindrudan.com</a></li>
      <li role="presentation"><a href="https://parse.dk">parse.dk</a></li>
    </ul>

    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
</div>
<span class="nav-cover"></span>
